@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  font-size: 16px;
  --teal-200: #80CBC4;
  --deep-purple-300:#9575CD;
  --deep-purple-900: #311B92;
  --teal-800: #00695C;
  --red-500: #F44336;
  --orange-800: #EF6C00;
  --blue-800: #1565C0;
  --pink-800:#AD1457;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: var(--teal-200);
}
header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-size: 40px;
  color: var(--deep-purple-900);
}
div.main-content{
  height: calc(100vh - 100px);
  min-height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placement-grid{
  height: 500px;
  width: 500px;
  background-color: white;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0 100px;
}
.placement-grid-square{
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
.placement-grid .valid-square{
  background-color: var(--teal-200);
}
.placement-grid .invalid-square{
  background-color: var(--red-500);
}

.ship-panel,.button-panel{
  border: 3px solid black;
  height: 500px;
  width: 200px;
  background-color: var(--deep-purple-300);
}

.button-panel, .ship-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ship-panel{
  display: flex;
  flex-direction: column;
}

.ship-button-container{
  flex-grow: 1;
  padding: 15px;
}

.button-panel button, .ship-button-container button{
  display: block;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 2px 2px 3px rgb(101, 101, 101);
}

.ship-button-container button.selected{
  background-color: var(--teal-800);
  color: white;
}

.button-panel button:hover:not(:disabled), .ship-button-container button:hover:not(.selected){
  background-color: rgb(197, 197, 197);
}

.ship-panel h3{
  text-align: center;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
}

.placement-grid div.carrier-color{
  background-color: var(--teal-800);
}
.placement-grid div.battleship-color{
  background-color: var(--deep-purple-900);
}
.placement-grid div.destroyer-color{
  background-color: var(--orange-800);
}
.placement-grid div.submarine-color{
  background-color: var(--blue-800);
}
.placement-grid div.boat-color{
  background-color: var(--pink-800);
}