@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  font-size: 16px;
  --teal-200: #80CBC4;
  --teal-500: #009688;
  --deep-purple-300:#9575CD;
  --deep-purple-600: #5E35B1;
  --deep-purple-900: #311B92;
  --teal-800: #00695C;
  --red-500: #F44336;
  --gray-500: #9E9E9E;
  --light-blue-300: #4FC3F7;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: var(--teal-200);
}
header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-size: 40px;
  color: var(--deep-purple-900);
}
div.select-content{
  height: 100%;
  margin: auto;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.select-panel{
  background-color: white;
  width: 280px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.select-panel h2{
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 60px;
}
div.target{
  height: calc(100vh - 100px);
  width: 100%;
}
.placement-grid{
  max-height: 500px;
  height: 500px;
  width: 500px;
  min-width: 500px;
  background-color: white;
  /* border: 3px solid black; */
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0 100px;
}
.placement-grid-square,.attack-grid-square,.display-grid-square{
  /* border: 1px solid black; */
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
div.attack-grid-square{
  background-color: var(--gray-500);
}
.placement-grid .valid-square{
  background-color: var(--teal-200);
}
.placement-grid .invalid-square{
  background-color: var(--red-500);
}
.ship-panel,.button-panel{
  border: 3px solid black;
  height: 500px;
  width: 200px;
  background-color: var(--deep-purple-300);
}
.button-panel, .ship-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ship-panel{
  display: flex;
  flex-direction: column;
}
.ship-button-container{
  flex-grow: 1;
  padding: 15px;
}
.button-panel button, .ship-button-container button{
  display: block;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 2px 2px 3px rgb(101, 101, 101);
}
.select-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.select-btn-container button{
  display: block;
  width: 120px;
  padding: 10px 5px;
  border: none;
  background-color: var(--deep-purple-600);
  color: white;
  border-radius: 5px;
}
.select-btn-container button:hover{
  background-color: var(--deep-purple-900);
}
.ship-button-container button.selected{
  background-color: var(--teal-800);
  color: white;
}
.button-panel button:hover:not(:disabled), .ship-button-container button:hover:not(.selected){
  background-color: rgb(197, 197, 197);
}
.ship-panel h3{
  text-align: center;
  color: white;
  padding: 10px;
}
.placement-grid div.carrier-color,.display-grid div.carrier-color{
  background-color: var(--teal-800);
}
.placement-grid div.battleship-color,.display-grid div.battleship-color{
  background-color: var(--deep-purple-900);
}
.placement-grid div.destroyer-color,.display-grid div.destroyer-color{
  background-color: var(--teal-500);
}
.placement-grid div.submarine-color,.display-grid div.submarine-color{
  background-color: var(--deep-purple-600);
}
.placement-grid div.boat-color,.display-grid div.boat-color{
  background-color: var(--deep-purple-300);
}
div.main-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.placement-container{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 110px;
}
.placement-info{
  margin-top: 20px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}
.game-content{
  height: 100%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.gameboard-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  width: 100%;
  padding-bottom: 100px;
}
.left-side,.right-side{
  width: 400px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-grid,.attack-grid{
  width: 400px;
  height: 400px;
  background-color:white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}
.game-info{
  margin-top: 20px;
  width: 500px;
  text-align: center;
  color: white;
  padding: 15px;
  background-color: #9575CD;
  border-radius: 10px;
  border: 3px solid var(--deep-purple-600) ;
}
.sunk{
  background-image: url(./assets/explosion.png);
  background-position: center;
  background-size: cover;
}
.display-grid div.miss, .attack-grid div.miss{
  background-color: var(--light-blue-300);
}

.attack-grid div.sunk{
  background-color: var(--red-500);
}
